.image {
  background-color: transparent;
}
  
}
body {
  background-color: transparent;
  max-width: 800pt;
}

div {
  background-color: lightyellow;
  max-width: 800pt;
}

a:hover {
  background: grey;
}

table {
  table-layout: fixed;
--  border-collapse: collapse;
  border: 3pt;
  color: black;
}

.nested {
	max-width: 800pt;
    margin-left: 50pt;
    margin-right: 380pt;
}