body {
  background-color: transparent;
  font-size: 120%;
}

figure {
  text-align: center
}

h1 {
  color: #24527a;
}

h2 {
  color: darkblue;
}

a:hover {
  background: lightblue;
}

table {
  table-layout: fixed;
  border: 0pt;
  color: black;
}

td {
  text-align: center;
}

.image {
  background-color: transparent;
	max-width: 90%;
    margin-left: 0%;
    margin-right: 0%;
}
  
.nested {
  background-color: #fcf4d9;
  color: #05004e;
  max-width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  text-align: justify;
}