.image {
  background-color: transparent;
  max-width: 100%;
}
  
}
body {
  background-color: transparent;
  max-width: 80%;
}

div {
  background-color: lightyellow;
  max-width: 100%;
}

a:hover {
  background: grey;
}

table {
  table-layout: fixed;
--  border-collapse: collapse;
  border: 3pt;
  color: black;
}

.nested {
	max-width: 80%;
    margin-left: 5%;
    margin-right: 5%;
}